@{
    ViewData["Title"] = "DANIELA MOA - PROGRAMACION IV";
}

<div class="text-center">
    <h1 class="display-4">DANIELA MORA PROGRAMACION IV</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core y junto a Daniela Mora</a>.</p>
</div>
